:root {
  --dark-bg-color: #1e1d2b;
  --light-bg-color: #2b2c3e;
  --lightest-bg-color: #03a9f4;
  --default-text-color: #d1d1d1;
  --default-button-color: #1177f6;
  /* --dark-bg-color: #1b262c;
  --light-bg-color: #0f4c75;
  --lightest-bg-color: #3282b8;
  --default-text-color: #bbe1fa; */
}

body {
  margin: 0;
}

.clipboard-shell {
  background-color: var(--dark-bg-color);
  color: var(--default-text-color);
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.header {
  background-color: var(--lightest-bg-color);
  color: var(--dark-bg-color);
  display: flex;
  padding: 1rem 0.5rem;
}

.empty-icon-container {
  height: 100%;
  display: flex;
}

.empty-icon > img {
  margin: auto;
}

.empty-icon {
  margin: auto;
}

.empty-icon-text {
  margin: 0;
  text-align: center;
}

.header-title {
  font-size: 1rem;
}

.history {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  height: 80%;
}

.history-list {
  margin-top: 0.15rem;
  overflow-y: auto;
}

.history-title {
  display: flex;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.history-title > img {
  margin-right: 0.2rem;
}

.history-item {
  background-color: var(--light-bg-color);
  margin: 0.5rem 0 0;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
}

.history-item-text {
  width: 95%;
}

.copy-icon-container {
  width: 5%;
}

.copy-icon {
  cursor: pointer;
}

.history-item:first-child {
  margin-top: 0;
}
